<!-- templates/password_reset_email.html -->
<html>
  <body style="font-family: Arial, sans-serif">
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #eaeaea;
      "
    >
      <h2 style="text-align: center">Forgot your password?</h2>

      <!-- Customized greeting with username -->
      <p style="text-align: center; font-size: 18px; color: #333">
        Hi, {{ username }}! We received a request to reset your password.
      </p>

      <p style="text-align: center; font-size: 16px; color: #555">
        Let's get you a new one!
      </p>

      <!-- Centering the button -->
      <div style="text-align: center; margin-top: 20px">
        <a
          href="{{ reset_link }}"
          style="
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            background-color: #007bff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
          "
        >
          RESET MY PASSWORD
        </a>
      </div>
      <!-- Red Note about token expiration -->
      <p
        style="text-align: right; font-size: 14px; color: red; margin-top: 10px"
      >
        Note: The token will expire in 10 minutes.
      </p>

      <p
        style="
          text-align: center;
          margin-top: 20px;
          font-size: 14px;
          color: #777;
        "
      >
        Having trouble? Contact us at support@example.com
      </p>

      <p style="text-align: center; font-size: 14px; color: #777">
        If you didn't request a password reset, you can ignore this message.
      </p>
    </div>
  </body>
</html>
